#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
install
cdrom
firstboot --enable
ignoredisk --only-use=sda
keyboard --vckeymap=us --xlayout='us'
lang en_US.UTF-8
network --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto --no-activate
network --hostname=localhost.localdomain
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
rootpw --lock
services --enabled="chronyd"
timezone America/New_York --isUtc
user --groups=wheel --name=iwzadmin --password=$6$KQrxY4wHNw04114g$mIEo0GGtinS7Q23otI5yA0Lzpz21JWsM59zAnDy1Pocwkae/sXFSzmYVNLStRqIDmTZxDg4E3DLc3E/AGJqro. --iscrypted --gecos="iwzadmin"
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --encrypted --type=lvm
clearpart --none --initlabel

firewall --enabled --ssh
text
skipx

zerombr
clearpart --all --initlabel
autopart

firstboot --disable
reboot

%packages --instLangs=en_US.utf8 --nobase --ignoremissing --excludedocs
@core
%end

%post --log=/root/ks.log
yum -y update
%end
#zerombr
#clearpart --linux --initlabel --drives=sda
#part /boot --fstype=xfs --size=512
#part pv.01 --grow --size=1
#volgroup VolGroup --pesize=4096 pv.01
# Create particular logical volumes (optional)
#logvol / --fstype=xfs --name=LogVol06 --vgname=VolGroup --size=11264 --grow
# Ensure /home Located On Separate Partition
#logvol /home --fstype=xfs --name=LogVol02 --vgname=VolGroup --size=1024 --fsoptions="nodev"
# Ensure /tmp Located On Separate Partition
#logvol /tmp --fstype=xfs --name=LogVol01 --vgname=VolGroup --size=1024 --fsoptions="nodev,noexec,nosuid"
# Ensure /var/tmp Located On Separate Partition
#logvol /var/tmp --fstype=xfs --name=LogVol7 --vgname=VolGroup --size=1024 --fsoptions="nodev,nosuid,noexec"
# Ensure /var Located On Separate Partition
#logvol /var --fstype=xfs --name=LogVol03 --vgname=VolGroup --size=2048 --fsoptions="nodev"
# Ensure /var/log Located On Separate Partition
#logvol /var/log --fstype=xfs --name=LogVol04 --vgname=VolGroup --size=1024 --fsoptions="nodev"
# Ensure /var/log/audit Located On Separate Partition
#logvol /var/log/audit --fstype=xfs --name=LogVol05 --vgname=VolGroup --size=512 --fsoptions="nodev"
#logvol swap --name=lv_swap --vgname=VolGroup --size=2016

%packages
@^minimal
@core
aide
chrony
openscap
openscap-scanner
scap-security-guide
-telnet
-telnet-server

%end

#%addon org_fedora_oscap
#    content-type = scap-security-guide
#    profile = xccdf_org.ssgproject.content_profile_rht-ccp
#%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

reboot --eject

